body {
	font-family: 'Noto Sans TC', 'Play', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Microsoft JhengHei', 'Helvetica Neue', Arial, sans-serif;
	background-color: rgb(187, 142, 17);
	color: black;
}

a {
	display: inline-block;
	color: black;
}
.container {
	max-width: 1320px;
	padding: 0 12px;
	margin: 0 auto;
}

h1 {
	font-size: 200px;
	margin-bottom: 50px;
}

.project-link {
	font-size: 60px;
}

.project-link span {
	font-size: 80px;
}

.decoration-line {
	height: 5px;
	width: 0%;
	margin-top: 4px;
	background-color: #000;
	transition: .25s;
}

.project-link:hover .decoration-line {
	width: 100%;
}